<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="estilos.css" />
    <title>Document</title>
  </head>
  <body>
      <div class="main-container">
        <div class="contenido">
          <div class="header">
            <div class="categoria">
              <p class="parrafo-categoria">CATEGORIA</p>
              <div class="border-blanco"></div>
              <p class="siglas-categoria">GP1</p>
            </div>
          </div>
          <div class="feed-corredor">
            <div class="nombre-container">
              <p class="nombre-corredor">Carlos Garcia</p>
            </div>
          </div>
          <div class="datos-corredor">
            <div class="posicion-foto-pais">
              <div class="posicio-pais">
                <div class="cont">
                  <h1 class="posicion">P5</h1>
                  <div class="borde-black"></div>
                  <div class="pais">
                    <img src="BANDERAS/BANDERAS_0000s_0007_8.png" alt="" />
                    <p>
                      Gran Premio <br />
                      De <span>monaco</span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="foto-corredor">
                <img src="Carlos Garcia.png" class="img-corredor" />
              </div>
            </div>
            <div class="barra-roja-final"></div>
          </div>
        </div>
        <img
          class="img-feed"
          src="EQUIPOS/RESULTADO-DE-PILOTO_0003s_0000_FERRARI.png"
          alt=""
        />
      </div>
  </body>
</html>
