/* Font-A-Black */
@font-face {
  font-family: "Font-A-Black";
  src: local('Font-A-Black'), url(/igwin/FUENTES/F1TV-2022-Black.ttf) format('truetype');
}

/* Font-B-Oblique-Condensed */
@font-face {
  font-family: "Font-B-Oblique-Condensed";
  src: local('Font-B-Oblique-Condensed'), url(/igwin/FUENTES/F1TV-2022-ObliqueCondensed.ttf) format('truetype');
}

/* Font-B-Timing-Oblique */
@font-face {
  font-family: "Font-B-Timing-Oblique";
  src: local('Font-B-Timing-Oblique'), url(/igwin/FUENTES/F1TV-2022-Timing-Oblique.ttf) format('truetype');
}

/* Font-B-Timing-Oblique-Bold */
@font-face {
  font-family: "Font-B-Timing-Oblique-Bold";
  src: local('Font-B-Timing-Oblique-Bold'), url(/igwin/FUENTES/F1TV-2022-Timing-Oblique-Bold.ttf) format('truetype');
}

/* Font-B-Oblique-Bold-Pos */
@font-face {
  font-family: "Font-B-Oblique-Bold-Pos";
  src: local('Font-B-Oblique-Bold-Pos'), url(/igwin/FUENTES/F1TV-2022-ObliqueBold-Pos.ttf) format('truetype');
}

/* Font-B-Position */
@font-face {
  font-family: "Font-B-Position";
  src: local('Font-B-Position'), url(/igwin/FUENTES/F1TV-2022-Position.ttf) format('truetype');
}

/* Font-B-Oblique-Bold-Int */
@font-face {
  font-family: "Font-B-Oblique-Bold-Int";
  src: local('Font-B-Oblique-Bold-Int'), url(/igwin/FUENTES/F1TV-2022-ObliqueBold-Int.ttf) format('truetype');
}

/* Font-B-Regular-Oblique */
@font-face {
  font-family: "Font-B-Regular-Oblique";
  src: local('Font-B-Regular-Oblique'), url(/igwin/FUENTES/F1TV-2022-Regular-Oblique.ttf) format('truetype');
}

/* Font-B-Oblique-Blod */
@font-face {
  font-family: "Font-B-Oblique-Blod";
  src: local('Font-B-Oblique-Blod'), url(/igwin/FUENTES/F1TV-2022-ObliqueBold.ttf) format('truetype');
}

/* Font-B-Logos */
@font-face {
  font-family: "Font-B-Logos";
  src: local('Font-B-Logos'), url(/igwin/FUENTES/F1TV-2022-Logos.ttf) format('truetype');
}

/* Font-B-Regular */
@font-face {
  font-family: "Font-B-Regular";
  src: local('Font-B-Regular'), url(/igwin/FUENTES/F1TV-2022-Regular.ttf) format('truetype');
}

/* Font-B-Bold */
@font-face {
  font-family: "Font-B-Bold";
  src: local('Font-B-Bold'), url(/igwin/FUENTES/F1TV-2022-Bold.ttf) format('truetype');
}

/* Font-B-Regular-Bold */
@font-face {
  font-family: "Font-B-Regular-Bold";
  src: local('Font-B-Regular-Bold'), url(/igwin/FUENTES/F1TVregularBold.ttf) format('truetype');
}

/* Font-B-Name */
@font-face {
  font-family: "Font-B-Name";
  src: local('Font-B-Name'), url(/igwin/FUENTES/F1TVname.ttf) format('truetype');
}

/* Font-B-Numbers */
@font-face {
  font-family: "Font-B-Numbers";
  src: local('Font-B-Numbers'), url(/igwin/FUENTES/F1TVnumbers.ttf) format('truetype');
}

/* Font-B-Display-Name */
@font-face {
  font-family: "Font-B-Display-Name";
  src: local('Font-B-Display-Name'), url(/igwin/FUENTES/F1DisplayName.ttf) format('truetype');
}

/* Font-B-Turbo */
@font-face {
  font-family: "Font-B-Turbo";
  src: local('Font-B-Turbo'), url(/igwin/FUENTES/F1_Turbo.otf) format('truetype');
}

/* Font-B-Torque */
@font-face {
  font-family: "Font-B-Torque";
  src: local('Font-B-Torque'), url(/igwin/FUENTES/F1_Torque.otf) format('truetype');
}

/* ESTILOS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
width: 100%;
height: 100vh;
display: flex;
justify-content: center;


}

.main-container {
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  position: relative;


}

.img-feed {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.contenido {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

}

.header {
  width: 100%;
  padding: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 0, 0.308); */
}

.categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 70%;
}

.categoria .parrafo-categoria {
  font-size: 2.5em;
  color: #fff;
  font-family: "Font-B-Logos";
  text-transform: uppercase;
}

.categoria .siglas-categoria {
  font-family: "Font-B-Name";
  font-size: 2.5em;
  color: #fff;
  /* border-left: 5px solid #fff; */
  /* padding-left: 0.5em; */
  text-transform: uppercase;
}

.siglas-categoria {
  width: 100%;
}

.border-blanco {
  width: 5px;
  height: 40px;
  background: #fff;
}

.feed-corredor {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: yellow; */
  padding: 2em;
}
.nombre-container {
  width: min-content;
  /* background: wheat; */
  padding: 1em 2em;
}
.nombre-corredor {
  color: #fff;
  font-size: 10em;
  text-transform: uppercase;
  font-family: "Font-B-Oblique-Blod";
  white-space: initial;
  transform: rotate(-7deg);
  line-height: 150px;
  text-align: center;
  /* background: wheat; */
}

.datos-corredor {
  width: 100%;
  height: 500px;
  /* background: turquoise; */
  display: flex;
  flex-direction: column;
  position: relative;
}

.brand-container {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  position: absolute;
  display: grid;
  align-items: baseline;
  justify-items: baseline;
}

.brand-image {
  width: -webkit-fill-available;
  height: inherit;
  margin-top: 10%;
}

.posicion-foto-pais {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  /* background: rgba(60, 255, 0, 0.418); */
}

.posicio-pais {
  width: 580px;
  height: 400px;
  background: rgba(255, 0, 0, 0);
  position: absolute;
  bottom: 0;
  z-index: 10;
  clip-path: polygon(0 0%, 100% 0, 80% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-right: 5em;
}

.foto-corredor {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(245, 222, 179, 0.384); */
  position: absolute;
  right: 0;
}

.img-corredor {
  width: 100%;
  object-fit: cover;
}

.barra-roja-final {
  width: 100%;
  height: 20px;
  background: rgb(255, 0, 0);
  position: absolute;
  bottom: 0;
}

.posicion {
  /* background-color: aqua; */
  color: #fff;
  font-size: 14em;
  font-family: "Font-B-Oblique-Blod";
  border-bottom: 10px solid black;
  padding: 0px 30px;
  line-height: 220px;
  position: relative;
}
.cont {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: yellow; */
  gap: 1em;
}
.pais {
  width: 400px;
  /* font-size: 1em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: .5em 0px; */
  gap: 1em;
  /* margin-top: 1em; */
  /* background: wheat; */
  /* border-top:5px solid #000 ; */
}
.borde-black {
  width: 400px;
  height: 10px;
  background: black;
  position: absolute;
  top: 16em;
  display: none;
}

.pais p {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  font-family: "Font-B-Numbers";
  white-space: initial;
}

.pais p span {
  font-family: "Font-B-Oblique-Bold-Pos";
}

/* .datos-corredor {
  color: #fff;
  font-size: 10em;
  text-transform: uppercase;
  font-family: "Font-B-Oblique-Blod";
  transform: rotate(-10deg);
} */
/* ESTILOS */


